input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // natural-scroll
        // accel-speed 0.8
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
    }

    focus-follows-mouse
    warp-mouse-to-focus
}

