* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-shadow: none;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: none;
    transition-duration: 1s;
    background: transparent;
}

#tray,
#idle_inhibitor {
    color: #2E3440;
    background: #5E81AC;
}

#idle_inhibitor.activated {
    color: #2E3440;
    background: #A3BE8C;
}

#mode {
    color: #D8DEE9;
    background: #D08770;
}

#memory,
#cpu {
    color: #4d4d4d;
    background: #5E81AC;
}

#workspaces * {
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 3px;
    background: #2E3440;
}

#workspaces button {
    color: #4C566A;
    background: #2E3440;
}

#workspaces button.visible {
    color: #A3BE8C;
}

#workspaces button.focused {
    border: 3px solid #8FBCBB;
    border-bottom: 3px solid #8FBCBB;
    transition: 500ms;
    box-shadow: inherit;
    text-shadow: inherit;
    background: #2E3440;
    color: #8FBCBB;
}

#workspaces button:hover {
    border-radius: 10px;
    border: 4px solid #A3BE8C;
    transition: 500ms;
    box-shadow: inherit;
    text-shadow: inherit;
    background: #2E3440;
    color: #B48EAD;
}

#workspaces button.urgent {
    transition: 500ms;
    box-shadow: inherit;
    text-shadow: inherit;
    border: 3px solid #BF616A;
    color: #EBCB8B;
}

#network,
#language,
#temperature {
    color: #4d4d4d;
    background: #5E81AC;
}

#temperature.critical {
    color: #4d4d4d;
    background: #BF616A;
}

#battery {
    color: #4d4d4d;
    background: #5E81AC;
}

#battery.warning {
    color: #4d4d4d;
    background: #EBCB8B;
}

#battery.critical {
    color: #4d4d4d;
    background: #BF616A;
}

#battery.charging {
    color: #4d4d4d;
    background: #A3BE8C;
}

#clock {
    color: #4d4d4d;
    background: #5E81AC;
}
