[core]
	excludesfile = ~/.gitignore
	pager = delta
	editor = vim

[pull]
	rebase = true

[alias]
	l = log -p
	graph = log --oneline --graph --all

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	line-numbers = true
	features = decorations
	side-by-side = true

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	syntax-theme = Nord

[includeIf "gitdir:~/Documents/Workspaces/Personal/"]
  path = ~/Documents/Workspaces/Personal/.gitconfig

[includeIf "gitdir:~/Documents/Workspaces/SH/"]
  path = ~/Documents/Workspaces/SH/.gitconfig

[init]
	defaultBranch = main
